@use "../../../presets" as *;
@use "../../../mixins" as *;
@use "sass:math";

$local-gap: math.div(40px, 3);

.skills {
  padding: $gap-sm;

  &__container {
    display: grid;
    gap: $gap-sm;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(33.33333vh - #{$local-gap});
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
    margin-bottom: $gap;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-bottom: $gap-lg;
  }
}

@media (max-widht: 992px) {
  .skills__container {
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
 }
}

@media (max-widht: 768px) {
   .skills__container {
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
 }
}

@media (max-widht: 576px) {
 .skills__container {
   grid-template-columns: 1fr;
   grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
 }
}

@media (max-heigth: 690px) {
 .skills__container {
   grid-auto-rows: calc(230px - 13.3333333333px);
 }
}