@use "../presets" as *;
@use "../mixins" as *;

.btn {
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    background-color: rgba($color-light, 0.1);
    border-color: $color-light;
    width: 250px;
    height: 60px;

    @media (min-widht: 992px) {
      font-size: 1.125rem;
      width: 250px;
      height: 60px;
    }

    @media (max-widht: 991.8px) and (min-widht: 768px) {
      width: 200px;
      height: 50px;
    }

    @media (max-widht: 767.8px) {
      width: 170px;
      height: 40px;
    }
  }
  &--primary {
    background-color: rgba($color-primary, 0.8);
    border-color: $color-primary;
    width: 350px;
    height: 60px;
  }
}

.visually-hidden {
  @include visually-hidden;
}
